---
// src/layouts/Base.astro
import "../styles.scss";

type Props = {
  lang: "fr";
  siteTitle: string;
  pageTitle: string;
  pageDescription?: string;
};
const { lang = "fr", siteTitle, pageTitle, pageDescription } = Astro.props;
---

<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <title>{pageTitle} | {siteTitle}</title>
    {pageDescription && <meta name="description" content={pageDescription} />}
    <meta
      name="canonical"
      content={`${Astro.site}${Astro.url.pathname.replace(/^\/+|\/+$/g, "")}`}
    />
    <slot name="head" />
    <meta name="viewport" content="width=device-width" />
    <base href="/" />
    <script is:inline>
      const applyTheme = () => {
        const mode = localStorage.getItem("theme") ?? "system";
        document.documentElement.dataset.theme =
          mode === "system"
            ? window.matchMedia("(prefers-color-scheme: dark)").matches
              ? "dark"
              : "light"
            : mode;
      };
      applyTheme();
      document.addEventListener("astro:page-load", applyTheme);
    </script>
    <script is:inline>
      function updateViewTransitionTypes(event) {
        if (!event.viewTransition) return;
        const activation = navigation.activation;
        if (activation?.navigationType === "traverse") {
          const direction =
            activation.entry.index < activation.from.index
              ? "backwards"
              : "forwards";
          event.viewTransition.types.add(direction);
        } else {
          event.viewTransition.types.add("forwards");
        }
      }
      window.addEventListener("pageswap", updateViewTransitionTypes);
      window.addEventListener("pagereveal", updateViewTransitionTypes);
    </script>
  </head>
  <body>
    <slot />
  </body>
</html>
